/**
 * ALL chassis, wheels, and other stuff's toolbox
 */

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }

.gui-set {
    display:block;
    font-size: 9px;
    /*padding: 5px 0 10px 0;*/
}

.gui-set a.disabled {
    opacity: 0.2;
}

.gui-set a {
    display:block;
    background-color: #FFF;
    color: #2b2b2b;
    text-transform: uppercase;
    padding: 4px 10px 4px 10px;
    font-weight: bold;
    /*font-size: 10px;*/
    text-decoration: none;
    float: left;
    border-radius: 8px;
    margin-right: 3px;
    opacity: 1;
}

/* Icons
   -------------------------------- */
/*artifact*/
ul#ch-icons {margin: 0; padding: 0;}
ul#ch-icons li {margin: 2px; position: relative; padding: 2px 0; cursor: pointer; float: left;  list-style: none;}
ul#ch-icons a {float: left; margin: 0 1px;}
ul#ch-icons span.ui-icon {float: left; margin: 0 4px;}
/*shape*/
ul#w-icons {margin: 0; padding: 0;}
ul#w-icons li {margin: 2px; position: relative; padding: 2px 0; cursor: pointer; float: left;  list-style: none;}
ul#w-icons a {float: left; margin: 0 1px;}
ul#w-icons span.ui-icon {float: left; margin: 0 4px;}

/*colors*/
ul#c-icons {margin: 0; padding: 0;}
ul#c-icons li {margin: 2px; position: relative; padding: 2px 0; cursor: pointer; float: left;  list-style: none;}
ul#c-icons a {float: left; margin: 0 1px;}
ul#c-icons span.ui-icon {float: left; margin: 0 4px;}



.twitter-share-button {
    margin: 15px 0 15px 0;
}